#chatDiv {
    border: 6px solid #008E71;
    border-radius: 50px;
    width: 300px;
    height: calc(100% - 120px);
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}

#chatInputContainer {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

#chatInputContainer>input {
    width: 75%;
    padding: 0 10px;
    border-radius: 50px;
    border: 1px solid #C6C4C4;
}

#chatContainer {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    // height: 440px;
    overflow-y: auto;
    padding: 10px;
    max-height: calc(100% - 50px); /* 부모 요소의 높이에서 입력 컨테이너의 높이를 뺀 값 */
}

.message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.message .bubble {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    word-wrap: break-word;
}

.message .timestamp {
    font-size: 0.75em;
    color: #888;
    margin-left: 8px;
    margin-right: 8px;
    flex-shrink: 0;
}

.message .bubble::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 10px solid transparent;
}

.message.mine {
    justify-content: flex-end;
    align-items: flex-end;
}

.message.mine .bubble {
    background-color: #007bff;
    color: white;
}

.message.mine .bubble::after {
    border-bottom-color: #007bff;
    right: -10px;
}

.message.remote {
    justify-content: flex-start;
}

.message.remote .bubble {
    background-color: #e5e5ea;
}

.message.remote .bubble::after {
    border-bottom-color: #e5e5ea;
    left: -10px;
}