.joinFormWrapper {
  font-size: 16px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #ffffff;

  .backButtonWrapper {
    display: flex;
    margin-bottom: 20px;
  }

  .backBtn {
    background: url(@/assets/images/arrowLeft.svg) no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

.joinForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  span {
    color: $color-primary;
  }

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .title {
    font-size: 1.2rem;
  }

  select {
    border: 2px solid $color-gray;
    border-radius: 15px;
    width: 200px;
    text-align: center;
    height: 45px;
  }

  .depositInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: $color-primary;
    }
  }

  .name {
    display: flex;
  }

  .lableBox {
    margin-right: 10px;
    min-width: 70px;
  }

  .rateBox {
    border: 2px solid $color-primary;
    border-radius: 15px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
  }

  .rateBox span {
    margin: 0 5px;
  }

  .column {
    margin: 8px 0;
  }

  .interestRate {
    height: 45px;
    border: 2px solid $color-primary;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 215px;

    p {
      margin-right: 10px;
    }

    span {
      min-width: 30px;
    }
  }

  #monthInput {
    border: 2px solid $color-gray;
    border-radius: 15px;
    width: 80px;
    height: 45px;
    text-align: center;
    margin-right: 10px;
  }

  .accountList {
    display: flex;

    &.address {
      align-items: center;
      width: 100%;

      .boxContent {
        padding: 18px 0;
      }
    }
  }

  .account {
    display: flex;
    justify-content: space-between;
  }

  .month {
    display: flex;
    flex-direction: row;

    input {
      width: 20px;
    }
  }

  .principal {
    margin-bottom: 10px;
  }

  .box {
    padding: 0 18px;
    border: 2px solid $color-primary;
    min-width: 300px;
    border-radius: 15px;
    width: fit-content;
    height: 80%;

    .boxContent {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    input {
      border: none;
    }

    .num {
      width: 240px;
      justify-content: start;
      text-align: center;
    }

    .padding {
      padding: 8px;
      background-color: transparent;
    }
  }
}

.joinModal {
  width: 500px;
  display: flex;
  justify-content: center;

  .joinModalContainer {
    flex-direction: column;
    justify-content: center;
    width: fit-content;

    .info {
      display: flex;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .label {
      // width: 170px;
    }

    span {
      color: $color-primary;
    }

    .message {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
}