.AfterCustomerContainer {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .title {
    font-size: 40px;
    //font-weight: bold;
  }

  .dummy {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #ratingDiv {
    margin-top: 15px;
  }

  .textareaForm {
    font-size: 15px;
    resize: none;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px 15px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  textarea:focus {
    border-color: $color-primary;
    outline: none;
  }
}