.LoadingCustomerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .dummy {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .buttonLine {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 200px;
  }

  .button {
    width: 100%;
    height: 80%;
    margin: 10px;
    font-size: 30px;
  }
}
