.task-list {
    padding: 16px;
    height: 45%;
  }
  
  .task-search {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    height: calc(100% - 40.5px);
  }
  
  li {
    padding: 10px 5px;
    font-size: 0.8rem;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease, background 0.3s ease;
  }
  
  li:hover {
    color: white;
    background: rgba(0, 142, 113, 0.8);
  }
