.serviceContainer {
    height: 100%;
    padding: 20px;
    display: flex;
}

#consultLeftSection {
    width: calc(100% - 300px);
    margin-right: 5%;
}

.screenVideoContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}