#consultVideo {
  display: flex;
  flex-direction: column;
}

#videoOptions {
  display: flex;
  // height: 200px;
}

.videoContainer {
  cursor: pointer;
  text-align: center;
}

.videoContainer p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.video {
  width: 150px;
  height: 150px;
  border: 4px solid transparent;
  transition: border-color 0.2s, transform 0.2s;
  overflow: clip;
  border-radius: 8px;
  object-fit: cover;
}

.speaking {
  border-color: #00A585;
}

.videoPending {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.videoPending img{
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
}

.videoPending p{
  font-size: 1.2rem;
}

#largeVideo {
  flex-grow: 1;
}

.largeV {
  border-radius: 8px;
  width: 65%;
  cursor: pointer;
}

#consultVideo.teller {
  // 텔러 전용 스타일
  #consultVideo {
    height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center; 
   }
  
   .videoContainer {
     cursor: pointer;
     text-align: center;
     position: relative; /* 자막을 비디오 위에 오버레이하기 위해 position: relative 설정 */
     height: 150px;
   }
   
   .videoContainer p {
     position: absolute; /* 비디오 위에 오버레이하기 위해 position: absolute 설정 */
     bottom: 10px; /* 자막의 위치 조정 */
     left: 50%;
     transform: translateX(-50%);
     margin: 0;
     padding: 2px 5px;
     background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경색 설정 */
     color: #fff; /* 텍스트 색상 설정 */
     font-size: 12px; /* 폰트 크기 조정 */
     border-radius: 3px;
   }
   
   .videoContainer video {
     width: 100%;
     height: 150px;
     justify-content: space-around;
     object-fit: cover; /* 이 부분을 추가하여 전체 화면을 채우도록 함 */
   }
   
   .videoPending {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
   }
   
   #largeVideoContainer {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   #largeVideo {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 8px;
   }
}