#consultVideo {
  width: calc(100% - 300px);
  min-height: 100%;
  padding-right: 50px;
}

#videoOptions {
  display: flex;
}

.videoContainer {
  cursor: pointer;
  text-align: center;
}

.video {
  width: 150px;
  height: 150px;
}