.serviceContainer.teller {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;

  #consultLeftSection {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }

  #consultLeftSection .videoContainer {
    width: 150px;
    height: 150px;
  }

  #consultRightSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  #mainContent {
    height: 50%;
    display: flex;
    margin-bottom: 20px;
  }

  #sideContent {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    // 기존 스타일 코드
    position: relative; // 추가: 모달 버튼의 위치를 조정하기 위해

    button {
      display: block;
      margin: 10px 0;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .selectedScreen {
    flex: 1;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    position: relative;
    overflow: hidden;
  }

  .inputSection {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    overflow: hidden;
    font-size: 16px;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid #008e71;
    background-color: #ffffff;
    width: 100%;
  }

  #consultLeftSection #videoOptions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: column;
    width: 100%;
    /* videoContainer의 너비에 맞추기 위해 100% 설정 */
  }

  .videoContainer {
    width: 180px;
    /* videoContainer의 기본 너비 설정 */
  }

  #consultRightSection {
    display: flex;
    flex-direction: column;
  }

  #consultRightSection>* {
    margin-bottom: 20px;
  }

  #consultRightSection .inputSection {
    height: 50%;
    margin-bottom: 0;
    /* 자식 요소의 기본 마진 제거 */
  }

  #largeVideoContainer {
    width: 100%;
    /* 선택된 화면의 전체 너비 */
    height: 100%;
    /* 선택된 화면의 전체 높이 */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* 선택된 화면 내부에 절대 위치 */
    top: 0;
    left: 0;
  }

  #largeVideo {
    // 화면 전체를 채우도록 설정(일부 잘림 가능성 있음)
    // width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}